@model Assignment1.Models.EmployeeDetails
@using Assignment1.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Form to Add and Edit Employee Details-->
<div class="container">
    <div class="form-horizontal">
        <h4>Employee Details</h4>
        <hr />
        <form asp-controller="Home" asp-action="SaveEmployeeDetails" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Gender</label>
                <div class="col-md-10">
                    @foreach (var genderType in Enum.GetValues(typeof(EmployeeDetails.GenderType)))
                    {
                        <label>
                            <input asp-for="@Model.SelectedGenderType" type="radio" value="@genderType" />
                            @genderType
                        </label>
                    }<br />
                    <span asp-validation-for="@Model.SelectedGenderType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="@Model.Email" class="form-control" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Department" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="@Model.Department" asp-items="Html.GetEnumSelectList<Departments>()" class="form-control">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="@Model.Department" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <textarea asp-for="@Model.Address" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="@Model.AcceptsTerms" type="checkbox" />
                    <label class="control-label col-md-2">Accept Terms</label>
                    <span asp-validation-for="@Model.AcceptsTerms" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-info" />
                    <a asp-action="Index" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
